* {
  margin: auto;
  font-family: Means Web,Georgia,Times,Times New Roman,serif;
  background-color: #ffe01b
}

/* App */

.App {
  text-align: center;
}

img {
  width: 5%;
}

/* Form */
.form {
  margin-bottom: 1%;
}


.form label{
  display: block;
}

.form label {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.form-name input {
  width: 15%;
  font-size: 16px;
  padding: 15px;
  border: solid 2px black;
}

.form-comment textarea {
  width: 15%;
  height: 75px;
  padding: 15px;
  font-size: 16px;
  border: solid 2px black;
}

.form-buttons {
  width: 20%;
  display: flex;
}

.form-buttons button {
  background-color: #007c89;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px;
  transition: .3s;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #006874 ;
  cursor: pointer;
}

/* Comments */

.comments {
  transition: .3s;
  text-align: left;
  margin: .5% auto;
  max-width: 30%;
  color: rgb(94, 94, 94);
  overflow-wrap: break-word;
}

.comment-top-p1 {
  font-weight: bold;
}

.test {
  font-weight: bold;
  margin-right: 1%;
}


.comment-bottom {
  font-size: 14px;
  margin: .5% 0;
}

.comment {
  padding: 1%;
  border: 1px solid black;
  margin: 2%;
  flex-flow: row nowrap;
}

.comment {
  color: black;
  font-size: 16px;
}